* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: #fff;
}
.header {
    background-color: #E0EBE8;
    height: 100vh;
}
.nav-menu ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    position: fixed;
    width: 100%;
    background-color: #e0ebe8;
    font-size: 1.6rem;
}
.nav-list {
    text-decoration: none;
    color: #1585A1;
}
.nav-menu li {
    margin: 25px 55px 15px 55px;
}
.greeting {
    padding-top: 62px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
}
.greeting h1 {
    font-size: 3rem;
}
.greeting span {
    font-size: 1.6rem;
    color: #15821E;
}
.projects {
    padding-top: 50px;
}
.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.projects h2 {
    color: #008080;
    font-size: 2.4rem;
    font-weight: normal;
    margin-top: 50px;
    text-align: center;
}
.project-link {
    border: 2px solid lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 220px;
    width: 280px;
    text-decoration: none;
    margin: 40px 100px;
    
}
.project-link div{
    border-top: 2px solid lightblue;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #008080;
    font-size: 1.6rem;
    font-weight: bold;
}
img {
    width: 100%;
    height: 180px;
}
.show-all {
    display: flex;
    justify-content: center;
    margin: 20px auto 90px auto;
    text-decoration: none;
    color: #008080;
    background: #e0ebe8;
    font-size: 1.7rem;
    padding-top: 10px;
    height: 30px;
    width: 200px;
    font-weight: bold;
    border: 2px #90C695 solid;
    border-radius: 4px;
    cursor: pointer;
}
.show-all:hover {
    color: #15821E;
    background-color: #e7ffd5;
}
.contact {
    height: 100vh;
    background-color: #C8F7C5
}
.contact-head {
    padding: 160px 0 110px 0;
    text-align: center;
}
.contact-head h2 {
    font-size: 3.4rem;
}
.contact-head p {
    font-size: 1.7rem;
}

.social-link-head {
    display: flex;
    justify-content: center;
}
.social-link {
    margin: 0 35px 45px;
    text-decoration: none;
    width: 100px;
    height: 100px;
    background-color: #E0EBE8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.65rem;
    font-weight: bold;
    border: 2px solid #90C695;
    border-radius: 100%;
    color: #008080;
}
.social-link:hover {
    color: #15821E;
    background-color: #e7ffd5;
}

.footer {
    height: 80px;
    width: 100%;
    padding: 20px;
    background: #22313F;
    color: white;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 40px;
}
footer a {
    color: white;
}